<h1>{{title}} {{file}}</h1>
<p><button type="button" class="btn btn-secondary"><a href="/tenders/{{prev}}">Вернуться назад</a></button></p>
<div>{{getFile file}}<br></div>
<p><button type="button" class="btn btn-secondary"><a href="/tenders/{{prev}}">Вернуться назад</a></button></p>
<script>
    function ajaxReload() {
        let h1 = document.getElementsByTagName('h1')[0].innerHTML;
        let reg = /\/.+/g;
        let result = h1.match(reg)[0];
        let f = JSON.stringify(({file: result}));
        let request = new XMLHttpRequest();
        request.open("POST", "/tenders/ajax", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            let obj_request = JSON.parse(JSON.parse(request.response));
            let pre = document.getElementsByTagName('pre')[0];
            if (pre.innerHTML.length !== obj_request.text.length) {
                pre.innerHTML = obj_request.text;
            }
        });
        request.send(f);
    }

    setTimeout(function run() {
        ajaxReload();
        setTimeout(run, 5000);
    }, 5000);
</script>
