<h1>{{title}}</h1>
<div><h2>{{getDescription tenderT}}</h2></div>
<p><a href="/tenders/{{tenderT}}">Вернуться назад</a></p>
<div>{{getGraph tenderT}}<br></div>
<p><a href="/tenders/{{tenderT}}">Вернуться назад</a></p>