<h1>{{title}} {{tenderT}}</h1>
<p><a href="/graph/{{tenderT}}">Посмотреть графики загрузки документов</a></p>
<p><a href="/graph/timep/{{tenderT}}">Посмотреть графики времени работы парсеров</a></p>
<div>{{getTenCounts tenderT}}<br></div>
