<h1>{{title}} {{tenderT}}</h1>
<p><button type="button" class="btn btn-warning"><a href="/graph/{{tenderT}}">Посмотреть графики загрузки документов</a></button></p>
<p><button type="button" class="btn btn-info"><a href="/graph/timep/{{tenderT}}">Посмотреть графики времени работы парсеров</a></button></p>
<div>{{getTenCounts tenderT}}<br></div>
